 a {
    text-decoration: none!important;
   }
   p {
    color:#251d24;
   }
   .text-criar{
    font-size:large;
    font-family: sans-serif;
    color:#a19ea1; 
    text-align:right;
   }
   .text-data{
    font-size:8px;
    font-family: sans-serif;
    color:#0e000e; 
    text-align:right;
   }
   .text-title{
  color: #F2F1E8;
   }
   .description{
    font-size:large; 
    font-family:'Franklin Gothic Medium';
    color: #2e2e2e;
   }
   .user{
    position: absolute;
    top: 3%;
    right: 9%;
    color: #F2F1E8;
     }
   .room-title{
  
    font-size:300%!important;
    left: 3%;
    color: #ffb326;
     }
     .set-title{
         text-align: center;
         font-family: monospace;
        font-size:400%!important;
        color: #eeac32;
        margin: auto;
      
         }
   .text-diss{
    font-size:600%!important;
    text-align:center;
    color: #E34234;
    font-family:Impact;
    margin: 40px;
   }
   
   .Green-Button {
    position:relative;
    bottom:15%;
	background-color:#c4c4c4b0!important;
	cursor:pointer;
    color:#6b6a63!important;
	font-family:Arial;
	font-size:28px!important;
	font-weight:bold;
	padding:0px 13px!important;
}
.Green-Button:hover {
	background-color:hsla(0, 0%, 0%, 0.253)!important;
}
.Green-Button:active {
    bottom:12%;
}
.backgroud{
    background: rgb(20,3,23);
    background: linear-gradient(160deg, rgba(20,3,23,1) 0%, rgba(20,20,60,1) 43%, rgba(20,20,20,1) 100%);
    }
.text-input{
    left: 5%!important;
}
.text-form{
    margin-top: 3%;
    margin-bottom: 3%;

    width: 50% ;
    bottom:5%;
    left: 5%;
    right: 35%;
    
  
}
.text-area{
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    background-color: #7B7B7B;
    border-radius: 20px;
}
.chat-area{  
   
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px 20px;
    width: 700px ;
    height: 500px;
    overflow: scroll;
    border-radius: 15px!important;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    background: rgb(85,85,122);
    background: linear-gradient(309deg, rgba(85,85,122,1) 0%, rgba(97,102,120,1) 51%, rgba(104,96,121,1) 100%);
    border-radius: 2px;
}
.cont-chat {
    position: relative;
    left: 250px!important;
    border-radius: 20px!important;
    background-color: #82ccdd;
  
    width: 400px ;
    padding: 10px;
    margin: 10px 0;
  }
  .cont-chat-self{
    border-radius: 20px!important;
    background-color: #78e08f;
    width: 400px ;
    padding: 10px;
    margin: 10px 0;
  }
.online-area{
    
    height: 500px ;
    width: 300px ;
    top: 150px;
    margin: 1% 20px;
    padding: 10px 20px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
    background: rgb(85,85,122);
    background: linear-gradient(309deg, rgba(85,85,122,1) 0%, rgba(97,102,120,1) 51%, rgba(104,96,121,1) 100%);
    border-radius: 20px;
}
.login-area{  
    position: relative;
   
    margin: auto ;
    width: 250px;
    height: auto;
    padding: 20px;
    background-color: #F2F1E8;
    border-radius: 20px;
} 
.inp-custon{
    margin: 10px 10px;
    padding: 0px 2px;
    background-color:#F2F1E8;
    display: block;
    border: 2px solid #F2F1E8;
    border-bottom:2px solid #1e2264 ;
    
   }
   .inp-custon:hover {
    border: 2px solid #F2F1E8;
    border-bottom:2px solid #7d12c0!important;
    border-radius: 0px;
   }
   .inp-custon:focus{
    border-color:rgb(57, 192, 91)!important;
    border: 2px solid #c163ff !important;
    
    border-radius: 0px!important ;
  }